.Search {
  margin: 0 auto;
  display: block;
  color: rgb(255, 255, 255);
}
.Search .LastUpdated {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
.Search .card {
  border: 0.5px solid rgb(235, 233, 233);
  max-width: 400px;
  text-align: center;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
}
.Search form {
  padding-bottom: 12px;
}
