.Search {
  margin: 0 auto;
  display: block;
  color: rgb(255, 255, 255);
}
.Search .LastUpdated {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.Search .card {
  max-width: 450px;
  text-align: center;
  margin: 5px auto;
  padding: 20px;
  border-radius: 10px;
}
.Search form {
  padding-bottom: 20px;
}
